{% block wrapper %}
    {% include 'CcmSiaBundle:Solicitud:show.html.twig' %}
    {% block footer %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('solicitud') }}">
                Back to the list
            </a>
        </li>
        {% if entity.enviada == null %}
            <li>
                <a href="{{ path('solicitud_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
        {% endif %}

        <li>
            <a href="{{ path('solicitud_send', { 'id': entity.id }) }}">
                Enviar
            </a>
        </li>
    </ul>
        {% endblock %}
{% endblock %}
