{% extends 'CcmSiaBundle::layout.html.twig' %}

{% block wrapper %}


    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Solicitudes</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->


    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-folder-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div> <h3>Licencia y Comisión</h3></div>

                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">
                            <a href="{{ path('solicitud_new', { 'tipo': "licencia-comision" }) }}">
                                <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> Crear Solicitud</button></a></span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-folder-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div> <h3>Académico Visitante</h3></div>

                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left"><a href="{{ path('solicitud_new', { 'tipo': "visitante" }) }}"><button type="button" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Crear Solicitud</button></a></span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-folder-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div> <h3>Seguimiento</h3></div>

                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left"><a href="{{ path('solicitud_seguimiento') }}"><button type="button" class="btn btn-warning btn-xs"><i class="fa fa-search"></i> Ver</button></a></span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <!-- /.row -->

{% endblock %}


