{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Solicitud creation</h1>

    {{ form(form) }}
    <h3>Tags</h3>
    <ul class="financiamiento">
        {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
        {% for tag in form.financiamiento %}
            <li>{{ form_row(tag.name) }}</li>
        {% endfor %}
    </ul>

        <ul class="record_actions">
    <li>
        <a href="{{ path('solicitud') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
