{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Solicitud creation</h1>

    {{ form(form) }}
    <h3>Financiamiento</h3>
    <ul>
        {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
        {% for fin in form.financiamiento %}
            <li>{{ form(fin) }}</li>
        {% endfor %}
    </ul>

    <ul>
        <li>
            <a href="{{ path('solicitud') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
