{% extends 'CcmSiaBundle::layout.html.twig' %}

{% block wrapper %}
    <h1>Sesiones creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sesiones') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
